<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/inicio.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listado de Docentes</h1>
    <div>
        <a href="{{url_for('appdocente.agregar')}}">Agregar Docente</a>
    </div>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Carrera</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {%for docente in docentes%}
                <tr>
                    <td>{{docente.id}}</td>
                    <td>{{docente.nombre}}</td>
                    <td>{{docente.duracion}}</td>
                    <td>{{docente.categoria}}</td>
                    <td><a href="detalleDocente/{{docente.id}}">Detalle</a></td>
                    <td><a href="editarDocente/{{docenteid}}">Editar</a></td>
                    <td><a href="eliminarDocente/{{docente.id}}">Eliminar</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</body>
</html>